<ion-header>
  <app-header backBtn="true" title="Create Question"></app-header>
  </ion-header>


<ion-content>

  <app-logo></app-logo>

  <form>

    <ion-item>
      <ion-label position="floating">Frage</ion-label>
      <ion-textarea [(ngModel)]="questionName"  name="questionName" [autoGrow]="true" class="custom" type="text"  required></ion-textarea>
    </ion-item>

    <ion-row class="container">
      <ion-item>
        <ion-label position="floating">Antwort</ion-label>
        <ion-textarea [autoGrow]="true" [(ngModel)]="answerItem" name="answerItem" class="custom" type="text"  required></ion-textarea>
      </ion-item>

        <ion-list>
          <ion-item>
            <ion-select [(ngModel)]="answerCorrect" name="answerCorrect" interface="action-sheet" placeholder="w/f">
              <ion-select-option value="true">wahr</ion-select-option>
              <ion-select-option value="false">falsch</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>




      <ion-button (click)="addAnswer(answerItem, answerCorrect)">Add Answer</ion-button>

    <ion-item *ngFor="let answer of answerAsObservable | async; index as i">
      <ion-card >
        <ion-card-header>
          <ion-card-title>{{"Answer " + (i+1)}}</ion-card-title>
          <ion-card-subtitle><span class="banar " [ngClass]="{'true' : answer.correct, 'false' : answer.correct===false}">{{answer.correct ? "Wahr" : "Falsch"}}</span></ion-card-subtitle>


        </ion-card-header>

        <ion-card-content>
          {{answer.answer}}
        </ion-card-content>

        <ion-button fill="full" id="{{'open-modal'+i}}" expand="block">Edit</ion-button>
        <!--For Edit button you can use  ionic modal >> https://ionicframework.com/docs/api/modal
        or you can just delete the card and then make the input of adding answer with same text of the
      answer the user want to edit !! -->
        <ion-modal trigger="{{'open-modal'+i}}" (willDismiss)="onWillDismiss($event, i)">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="cancel()">Cancel</ion-button>
                </ion-buttons>
                <ion-title>Edit answer</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="confirm(i)" [strong]="true">Confirm</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
              <ion-item>
                <ion-label position="stacked">Enter your answer</ion-label>
                <ion-input type="text" name="answerItem" placeholder="Answer" value="{{answer.answer}}" [(ngModel)]="answer.answer"></ion-input>
              </ion-item>
              <ion-list>
                <ion-item>
                  <ion-select [(ngModel)]="answer.correct" name="modalCorrect" placeholder="Select wahr/falsch" interface="action-sheet">
                    <ion-select-option value="{{true}}">Wahr</ion-select-option>
                    <ion-select-option value="{{false}}">Falsch</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-modal>
        <ion-button (click)="deleteAnswer(i)"  color="danger">Delete</ion-button>
      </ion-card>

    </ion-item>



  </ion-row>

  <errors-msg error="{{error}}"></errors-msg>


    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" (click)="addQuestionAndAnswers(questionName)"  expand="block">Create Question</ion-button>
      </ion-col>
    </ion-row>


  </form>

</ion-content>
