<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      A+Choice
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-logo></app-logo>

  <ion-row class="first-row">
    <ion-col>
      <ion-button  color="primary"   expand="block" routerLink="/register-page">Register</ion-button>
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col>
      <ion-button  color="primary" expand="block" routerLink="/login-page">Log in<ion-icon name="enter-outline"></ion-icon></ion-button>
    </ion-col>
  </ion-row>

</ion-content>
