  <ion-header>
    <app-header backBtn="true" title="Add new answer"></app-header>
  </ion-header>


<ion-content>

  <app-logo></app-logo>
  <app-text header="Add the Answer:" marginBottom="15px"></app-text>

  <form>


    <ion-item class="textarea">
      <ion-label position="floating">The Answer</ion-label>
      <ion-textarea [(ngModel)]="newAnswer" name="newAnswer" [autoGrow]="true"></ion-textarea>
    </ion-item>


    <ion-list>
      <ion-item>
        <ion-select [(ngModel)]="isCorrect" name="isCorrect" placeholder="Select wahr/falsch" interface="action-sheet">
          <ion-select-option value="{{true}}">Wahr</ion-select-option>
          <ion-select-option value="{{false}}">Falsch</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>



    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" (click)="addAnswer(newAnswer, isCorrect)"  expand="block" routerLink="/packages-list">Add the answer</ion-button>
      </ion-col>
    </ion-row>


  </form>






</ion-content>
