ion-row.container {
    width: 80%;
    margin: auto;
    text-align: center;
}
ion-row.container {
    margin-bottom: 40px;
    display: block;
}
ion-row.container h1 {
    font-size: 30px;
    
}

ion-row.container h3 {
    font-size: 20px;
   
}


ion-item {
    margin: auto;
    width: 90% !important;
    margin-bottom: 10px;
    border: .5px solid black;
    border-radius: 6px;

}

ion-button[type=submit] {
width: 80%;
margin: auto;
margin-top: 20px;
}
