ion-row {
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    bottom:0;
    z-index: 10000000000000;
    height: 60px;
    width: 100%;
    background-color: #F7F7F7;
            
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70px;
    height: 50px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
    
}
div p {
    color: black;
    font-size: 10px;
    margin-top: -1px;
}
div:hover  ion-icon{
    color: #3880FF;
}

div ion-icon {
    font-size: 30px;
    color: black;
}