<ion-header>
  <app-header backBtn="false" title="Packages List"></app-header>

  <div class="filter-btn-container">
     <ion-list>
      <ion-item>
        <ion-select placeholder="Filter auswählen"
        (ionChange)="handleChange($event)"
        (ionCancel)="pushCancell()"
        (ionDismiss)="pushDismiss()"
        >
          <ion-select-option value="all">Alle Sammlungen</ion-select-option>
          <ion-select-option value="bearbeitet">Bearbeitet</ion-select-option>
          <ion-select-option value="unbearbeitet">Unbearbeitet</ion-select-option>
          <ion-select-option value="bestanden">Bestanden</ion-select-option>
          <ion-select-option value="nicht bestanden">Nicht bestanden</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </div>

</ion-header>


<ion-content>

   <app-tab></app-tab>

   <app-card *ngFor="let card of CardsTest | async; index as i;"   cardTitle="{{card.mdName}}" cardText="" questionsNumber="{{(card.questionLength | async)?.length}}" arrowLink="/package-details/{{card.mdId}}" [private]="!card.public" [public]="card.public" [passed]="card.score>=50" [notPassed]="card.score<50" [arrowActivated]="true"></app-card>

   <app-tab home="/packages-list" add="/create-package"></app-tab>
   <app-space marginBottom="100px"></app-space>

</ion-content>
