  <ion-header>
    <app-header backBtn="true" title="Question Details"></app-header>
  </ion-header>




<ion-content>

  <!--Question-->

  <!-- Upon deleting the question we return back to homepage -->
  <ion-card class="deleteQ" (click)="presentAlert('Question', '')">
    <ion-button color="dark">Delete This Question</ion-button>
  </ion-card>
  <!--Just for testing **************-->
  <p>{{ handlerMessage }}</p>
  <p>{{ roleMessage }}</p>
  <!--*******************************-->



  <ion-card class="qcard">

    <ion-card-header>
      <ion-card-subtitle>Edit  this Question :</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      {{(question | async)?.fragen}}
    </ion-card-content>

    <ion-button color="primary" routerLink="{{'/detailed-edit-question/'+mdId + '/' + qId}}">Edit</ion-button>



  </ion-card>



  <!--Answers-->




 <ion-card *ngFor="let answer of Answers | async">

    <ion-card-header>
      <ion-card-subtitle>Edit  this Answer :</ion-card-subtitle>
      <span *ngIf="answer.correct" class="wahr">Wahr</span>
      <span *ngIf="!answer.correct" class="falsch">Falsch</span>
    </ion-card-header>

    <ion-card-content>
      {{answer.answer}}
    </ion-card-content>

    <ion-button color="primary" routerLink="{{'/editanswer/' + mdId + '/' + qId + '/' + answer.aId}}">Edit</ion-button>
    <ion-button (click)="presentAlert('Answer', answer.aId)" color="danger">Delete the answer</ion-button>


  </ion-card>



  <!--Delete The Question-->




  <app-space marginBottom="70px"></app-space>
  <app-tab home="/home"  settings="/editpackage" add="{{'/add-new-answer/' + mdId + '/' + qId}}"></app-tab>
</ion-content>
