<ion-header>
  <app-header backBtn="true" title="Package Details"></app-header>
</ion-header>



<ion-content>



  <app-card cardTitle="{{(module | async)?.mdName}}" cardText="{{(module | async)?.description}}" questionsNumber=""  [private]="false" [public]="false" [arrowActivated]="false"></app-card>



<div class="line"></div>


  <app-card cardTitle="Editiermodus" cardText="" questionsNumber="" arrowLink='{{"/editmode/" + (module | async)?.mdId}}' [private]="false" [public]="false" [arrowActivated]="true"></app-card>


  <app-card cardTitle="Lernmodus" cardText="" questionsNumber="" (click)="gotoLearnmode()"  [private]="false" [public]="false" [arrowActivated]="true"></app-card>


  <app-card cardTitle="Prufungsmodus" cardText="" questionsNumber="" (click)="gotoExammode()"  [private]="false" [public]="false" [arrowActivated]="true"></app-card>

  <app-tab home="/home" add="{{'/create-question/' + (module | async)?.mdId}}" settings="{{'/editpackage/' + (module | async)?.mdId}}"></app-tab>
  <app-space marginBottom="100px"></app-space>

</ion-content>
