<ion-header>
  <app-header backBtn="true" title="Forget Password"></app-header>
</ion-header>

<ion-content>
  <app-logo></app-logo>
  <errors-msg [error]="errorMessage"></errors-msg>

  <ion-row class="container">
    <h1>Passwort vergessen ?</h1>
    <h3>Gib deine Email ein, damit wir dir einen Link senden konnen.</h3>

  </ion-row>


  <form>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input class="custom" type="text" #email required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block" (click)="sendReset(email)">Weiter
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

  </form>

</ion-content>
